:root{
    --primary: #FFD700; /* Amarelo */
    --primary-010: #ffbf00; /* Amarelo mais escuro */

    --red: #c90025; //vermeleho
    --red-010: #a3001e; //vermelho mais escuro
  
    --white: #FFFFFF; /* Branco */
    --grey: #757575; /* Cinza mais escuro */
  
    --black: #10101a; /* Preto */
    --black-010: #2a2a30; /* Preto mais claro */
  
}